@model FuegoBox.Presentation.Models.AddressModel
@{
    ViewBag.Title = "PlaceOrder";
}

@using (Html.BeginForm("Checkout", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <label>Address1 </label>
    @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })


    <label>Address2 </label>

    @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })


    <label>Pin </label>
    @Html.TextBoxFor(m => m.PIN, new { @class = "form-control" })

    <button type="submit"> Place Order </button>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}