@model FuegoBox.Presentation.Models.ProductDetail
@{
    ViewBag.Title = "PDetail";
}
<div class="container">
    <div class="row p-detail">
            <div class="col-md-4">
                <img class="img-fluid" src="@Model.ImageURL" width="250" height="250" />
            </div>
            <div class="col-md-6">
                <h2 class="title"><b>Name:</b> @Model.Name</h2>
                <p><b>Description:</b> @Model.Description</p>
                <h5><b>Category:</b> @Model.CatName</h5>
                <h6><b>Price: &#8377;</b> @Model.ListingPrice</h6>
                <h6><b>Discount Price: &#8377;</b> @Model.Discount</h6>
                <h6><b>@(Model.Inventory - Model.QuantitySold)</b> left in stock.</h6>
                @using (Html.BeginForm("AddToCart", "Cart", new { ProductID = Model.ID}, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <!--<img src="Variant.image" height="100" width="100" />-->
                <select name="VariantID">
                    @foreach (var Variant in Model.Variants)
                    {

                        <option value=@Variant.ID>@Variant.Variant_Property: @Variant.Variant_Value1</option>
                        <!--<option value=@Variant.ID>@Variant.Variant_Property: @Variant.Variant_Value2</option>-->
                    }
                </select>

                    <button class="btn btn-block btn-primary" type="submit">Add To Cart</button>
                }
            </div>
        </div>
    </div>