<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/icon.css">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar fixed-top bg-light">
        <h2 id="fuego" class="navbar-brand"><a href="@Url.Action("Index", "Home")">FuegoBox</a></h2>
        @using (Html.BeginForm("SearchResult", "Category", FormMethod.Get, new { @class = "form-inline" }))
        {
            <input type="search" class="form-control mr-sm-2" placeholder="Search" name="SearchString">
            <button class="btn btn-primary submit-search text-center" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        }

        <div class="navba-nav nav-style">
            <ul class=" nav navbar-right">
                <li class="nav-item active spacing nav-link anchor" ><i class="fa fa-heart" aria-hidden="true"></i><a href="@Url.Action("Index", "Home")">Home</a></li>
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item spacing nav-link anchor" ><i class="fa fa-sign-out" aria-hidden="true"></i>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    <li class="nav-item spacing nav-link anchor"><i class="fa fa-file" aria-hidden="true"></i>My Orders</li>
                    <li class="nav-item spacing nav-link anchor"><h6 style="color:black"><i class="fa fa-user" aria-hidden="true"></i>@Session["name"]</h6></li>
                }
                else
                {

                    <li class="nav-item spacing anchor nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i>@Html.ActionLink("Login", "Index", "Login")</li>
                    <li class="nav-item spacing anchor nav-link"><i class="fa fa-user" aria-hidden="true"></i>@Html.ActionLink("Register", "Index", "Register")</li>
                    
                }
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg" style="background-color:whitesmoke; height:80px;">
       
            <ul class="navbar-nav  nav-style">
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Books" })">Books</a></li>
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Watch" })">Watches</a></li>
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Clothing" })">Clothing</a></li>
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Television" })">TV</a></li>
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Mobile" })">Mobile</a></li>
                <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("ViewProductCategory", "Category", new { CategoryName = "Footwear" })">Footwear</a></li>
                
            </ul>
            <div class="float-right ">
                <ul class="nav navbar-right nav-style">
                    <li class="nav-item anchor"><a class="nav-link" href="@Url.Action("CartDetail","Cart")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</a></li>
                </ul>
            </div>
    </nav>
    
    <div class="container body-content" style="height:80px">
        @RenderBody()
        <hr />

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>