<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="~/Content/icon.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body background="~/Content/background.jpg">
    <div style="height:30px">
        <nav class="navbar navbar-fixed-top" style="height:80px;background-color:gainsboro">
            <form class="navbar-form navbar-left " action="/action_page.php">
                <h2>Fuego Box</h2>
                <div class="input-group" style="margin-left:200px;margin-top:-80px">
                    <input type="text" class="form-control" placeholder="Search" style="width:300px">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="container ">
                <ul class="nav navbar-nav navbar-right" style="margin-top:20px">
                    <li><span class="glyphicon glyphicon-heart"></span>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Session["UserID"] != null)
                    {
                        <li style="font-size:25px">@Html.ActionLink("Logout", "Logout", "Login")</li>
                        <li style=" font-size:25px"><h4 style="color:white">@Session["name"]</h4></li>
                    }



                    else
                    {
                        <li><i class="glyphicon glyphicon-log-in"></i>@Html.ActionLink("Login", "Index", "Login")</li>
                        <li><i class="glyphicon glyphicon-user"></i>@Html.ActionLink("Register", "Index", "Register")</li>
                    }

                </ul>
            </div>
        </nav>
    </div>
    <div style="height:100px;background-color:whitesmoke">
        <div class=" navbar-collapse collapse navbar-right" style="margin-top:25px">
            <div class="icon-cart" style="float:left">
                <div class="cart-line-1"></div>
                <div class="cart-line-2"></div>
                <div class="cart-line-3"></div>
                <div class="cart-wheel"></div>
            </div>
            <button class="btn btn-primary active" style="margin-right:10px">add to cart</button>
        </div>
        <ul class="nav navbar-nav" style="height:80px;font-size:20px;">
            <li style="margin-left:20px;padding:25px"><i class="glyphicon glyphicon-book"></i>@Html.ActionLink("Books", "Books", "Category")</li>
            <li style="padding:25px"><i class="glyphicon glyphicon-time"></i>@Html.ActionLink("Watches", "Watches", "Category")</li>
            <li style="padding:25px"><i class="glyphicon glyphicon-briefcase"></i>@Html.ActionLink("Clothing", "Clothing", "Category")</li>
            <li style="padding:25px"><i class="glyphicon glyphicon-off"></i>@Html.ActionLink("Television", "Television", "Category")</li>
            <li style="padding:25px"><i class="glyphicon glyphicon-phone"></i>@Html.ActionLink("Mobile", "Mobile", "Category")</li>
            <li style="padding:25px"><i class="glyphicon glyphicon-star"></i>@Html.ActionLink("Footwear", "Footwear", "Category")</li>
        </ul>
    </div>
    <div class="container body-content" style="height:80px">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now - My Fuego Site</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
